@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-mono: 'Fira Code', monospace;
}

.dark {
    --ui-primary: #fffc3a;
    --ui-bg: #090909;
}